@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?família=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&display=swap');

:root{
    --fonte1:'Oswald', sans-serif;
    --fonte2:'Bacasime Antique', serifa;
}
*{
    padding: 0px;
    margin: 0px;
}

body{
    min-height: 100vh;
    width: 100%;
}

header{
    background-image: url(../imagem/img1.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;

    background-position: center;
    background-repeat: no-repeat;
    
    
}

header > h1{
    font-family: var(--fonte1);
    position: absolute;
    top: 50vh;
    width: 92vw;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.411);
    color: white;
    text-align: center;
   
    
}

.tx1{
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px 0px  rgba(0, 0, 0, 0.062);
    background-color: rgba(233, 223, 223, 0);
    padding-top: 20px;
    padding-bottom: 10px;
    width: 300px;
    font-size: 1.1em;
    line-height: 2em;
    margin: auto;

}
#img1{
    background-image: url(../imagem/img1.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    height: 50vh;
}

#img2 {
    height: 50vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../imagem/img2.jpg);
}

#img3{
    height: 50vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../imagem/img3.jpg);
}

#img4{
    height: 50vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../imagem/img4.jpg);
}

.img{
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.513);
}

h2{
    position:absolute;
    text-align: center;
    margin: auto;
   
}